<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-lockscreen" version="1.0.0">
    <plugin name="cordova-plugin-lockscreen" spec="1.0.0" />
    <js-module src="www/lockscreen.js" name="LockScreenPlugin">
        <clobbers target="LockScreenPlugin" />
    </js-module>
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver android:name="android.app.admin.DeviceAdminReceiver"
                      android:permission="android.permission.BIND_DEVICE_ADMIN"
                      android:exported="true">
                <meta-data android:name="android.app.device_admin"
                           android:resource="@xml/device_admin_receiver" />
                <intent-filter>
                    <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                </intent-filter>
            </receiver>
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="LockScreenPlugin">
                <param name="android-package" value="org.apache.cordova.lockscreen.LockScreenPlugin" />
            </feature>
        </config-file>

        <resource-file src="res/xml/device_admin_receiver.xml" target="res/xml/device_admin_receiver.xml" />

        <source-file src="src/android/LockScreenPlugin.java" target-dir="src/org/apache/cordova/lockscreen" />
    </platform>
</plugin>
